$azulTitulo: #75C9C8;
$azulEnlaces: #80A1D4;
$lilaImportante: #C0B9DD;
$lilaSeccion: #DED9E2;
$crudoSeccion: #f7f4ea;
$blanco: white;
$negro: black;
$gris: grey;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
